*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* NAV BAR */
.nav {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  flex-direction: row;
}

.horizontal {
  display: flex;
  height: 5rem;
  font-size: 2rem;
  align-items: center;
  width: 100%;
}

.span-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.logo {
  flex: 1;
  padding: 3rem;
}

.links {
  flex: 0 0 30%;
}

.links > a {
  margin: 1rem;
}

/* HOME PAGE */
.banner {
  background-image: url('./img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  color: white;
}
